.about-menu {
  display: flex;
  justify-content: center;
  width: 100%;
  ul {
    padding: 0;
    list-style: none;
    transform: translateX(-3%);
    li {
      color : white ;
      float: left;

      span {
        margin-left: 40px;
        margin-right : 40px;
        transform: translateY(-1px);
      }
    }
  }
}

.section-name {
  height: 300px;
  background-color:  #083d72 ;
  border-bottom: 8px #9b8159 solid;
}

.team-members{

  .team-member {
    border-right: 1px #353738 solid;
    display : inline-flex;
    padding-right: 12px;
    margin-right: 12px;
    @extend .mb-4;
    p {
      font-family: FiraSans-Bold;
      font-size: 18px;
      margin: 0;
      line-height: 1.9;
    }
    span {
      color : #9b8159 ;
      font-family: FiraSans-Regular;
      margin-left: 8px;
    }
  }
}

.partners-container {


}