.aphabetic-filter {

  ul {
    @extend .px-3;
    list-style: none;
    width: 100%;
    padding: 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px #9b8159 solid;
    padding-bottom: 10px;

    li{
      float: left;
      font-size: 20px;
      font-family: FiraSans-Regular;
    }
  }
}

.experts-container {

  .author-card {

    @extend .rebric-card;
    flex: 0 0 30.333%;
    max-width: 30.333%;
    background-color: white;
    border-bottom: 8px #9b8159 solid;
    padding: 35px;
    padding-bottom: 0;

    .author-info {
      padding-bottom: 0 !important;
      h5{
        font-size: 22px;
      }
      h6 {
        font-size: 16px;
        margin-bottom: 0.7rem;
      }
      p {
        font-size: 14px;
        margin-bottom: 7px;
      }
    }

    .author-socials{
      li {
        font-size: 14px;
        margin-bottom: 0.1rem;
      }
    }
    ul {
      li{
        margin-bottom: 0.5rem;
      }
    }
    p{
      line-height: 1.2;
    }


    .profile-arrow{
      padding-bottom: 1rem;
      img{
        width: 32px;
      }
    }
  }
}


