@font-face {
  font-family: FiraSans-Regular ;
  src: url('../fonts/FiraSans-Regular.ttf');
}

@font-face {
  font-family: FiraSans-Light ;
  src: url('../fonts/FiraSans-Light.ttf');
}

@font-face {
  font-family: FiraSans-SemiBoldItalic ;
  src: url('../fonts/FiraSans-SemiBoldItalic.ttf');
}

@font-face {
  font-family: FiraSans-LightItalic;
  src : url('../fonts/FiraSans-LightItalic.ttf');
}

@font-face {
  font-family: FiraSans-SemiBold ;
  src: url('../fonts/FiraSans-SemiBold.ttf');
}

@font-face {
  font-family: FiraSans-Bold ;
  src: url('../fonts/FiraSans-Bold.ttf');
}

@font-face {
  font-family: cairo-regular ;
  src: url('../fonts/cairo-regular.ttf');
}
