html {
    font-size: 16px !important;
    /* 15 inches Monitors */
    @media screen and (max-width: 1312px) {
      font-size: 14px !important;
    }
    @media screen and (max-width: 1151px) {
      font-size: 11.8px !important;
    }
    @media screen and (max-width: 960px) {
      font-size: 14px !important;
    }
    @media screen and (max-width: 767px) {
      font-size: 12px !important;
    }
    @media screen and (max-width: 480px) {
      font-size: 8px !important;
    }
}

body {
    font-family: FiraSans-Light ; 
    p {
        font-family: FiraSans-Light;
        font-size: 1.25rem;
        color : #353738;
    }  

    a {
        color: unset;
        text-decoration: none;
        background-color: transparent;
        -webkit-text-decoration-skip: unset;
        &:hover{
          color: unset;
          text-decoration: none;
        }
      } 

    .bg-grey {
        background-color: #f9f9f9;
    }
    .black {
        color : #353738 !important;
    } 
    .brown {
        color : #9b8159 !important; 
    }
    .blue {
        color : #083d72 !important;
    }
    .white {
        color : white !important;
    }
}

.ar {
    font-family: cairo-regular !important;
}

.social-icons , .search-icon 
{
    width: 1.5rem;
    height: 1.375rem;
} 

.split-icon 
{
    height: 1.6875rem;
    width: 1px;
    background-color: #9b8159;
    display: inline-block; 
    transform: translateY(6px);
} 

.facebook-icon 
{
    @extend .social-icons ;
    height: 1.1875rem;
    width: 32px;
    transform: translate(-3px,-0.3.4375rem);
}

.language-menu 
{
    padding-top: 1.5rem;
    font-size: 1.25rem;
    font-family: FiraSans-Regular ;
    ul {
        list-style: none;
        padding : 0;
        color :  #9b8159 ;
    }
    li {
        line-height: 1.4; 
        text-align: right;
    }

    .active {
        font-family: FiraSans-Bold;
    }

} 

.content-container
{
    @extend .offset-md-2 ;
    @extend .col-md-8 ;
    padding-right: 7%;
}

.author-info 
{
    @extend .pb-4 ; 
    h5 {
        font-family: FiraSans-Bold;
        font-size: 1.5625rem;
        color : #353738;
    }
    h6 {
       color : #9b8159 ;
       font-size: 1.125rem;
       font-family: FiraSans-Regular;
       margin-bottom: 1.125rem ;
    }
    p {
        font-family: FiraSans-Light;
        font-size: 1.125rem; 
    }
}

.author-socials
{
    ul {
        list-style: none;
        padding-left: 1.25rem;
        .email {
            &::before {
                content :"" ; 
                background-image:url("../imgs/icons/envelope.svg");
                background-size: contain;
                width: 1.25rem;
                height: 1.25rem;
                display: inline-block;
                transform: translate(-1.25rem,3px);
            }
        }
        .phone {
            &::before {
                content :"" ; 
                background-image:url("../imgs/icons/phone.svg");
                background-size: contain;
                width: 1.25rem;
                height: 1.25rem;
                display: inline-block;
                transform: translate(-1.25rem,3px);
            }
        }
        .twitter {
            &::before {
                content :"" ; 
                background-image:url("../imgs/icons/twitter.svg");
                background-size: contain;
                width: 1.25rem;
                height: 1.25rem;
                display: inline-block;
                transform: translate(-1.25rem,3px);
            }
        }
        li {
            font-family: FiraSans-Light ;
            font-size: 1rem;
            color : #353738;
            margin-bottom: 1.25rem;
        }
    }
}

.authors-bg-1
{
    background-image: url('../imgs/backgrounds/bg-contributeurs.png');
    padding-top:70px;
    background-size: cover;
}

.fs-big {
    font-size: 3.6875rem !important; //59px
}
.fs-1 {
    font-size: 2.8125rem !important; //45px
}
.fs-2 {
    font-size: 2.5rem !important ; //40px
}
.fs-3 {
    font-size: 2.1875rem !important ; //35px
}
.fs-4 {
    font-size: 1.875rem!important ; //30px
}
.fs-5 {
    font-size: 1.5625rem !important ; //25px
}
.fs-6 {
    font-size: 1.4375rem !important ; //23px
}


.bold {
    font-family: FiraSans-Bold !important;
}

.semi-bold {
    font-family: FiraSans-SemiBold !important;
}
.regular {
    font-family: FiraSans-Regular !important;
}


.title-1 {
    @extend .fs-1; //45px
    font-family: FiraSans-Bold;
    margin-bottom: 3rem;
}

.title-2 {
    @extend .fs-2; //40px
    font-family: FiraSans-Bold;
    margin-bottom: 3rem;
}

.title-3 {
    font-family: FiraSans-Bold;
    @extend .fs-5; //25px
    margin-top : 4.375rem;
    margin-bottom: 1.5rem;
}

.title-4 {
    font-family: FiraSans-Bold;
    font-size: 1.4375rem ; //23px
    color : #353738 ;
}

.title-5 {
    font-family: FiraSans-SemiBold;
    font-size: 1.375rem ; //22px
    color : #353738 ;
}

.page-title {
    font-family: FiraSans-Bold ;
    color: #083d72;
}

.page-excerpt {
    font-size: 1.375rem;
    color: #1f2b33;
    margin-top : 1.3125rem;
    font-family: FiraSans-Light;
    line-height: 1.2;
}

.backtotop {
    p {
    font-family: FiraSans-SemiBold ;
    font-size: 1.125rem ;
    color : #9b8159; 
    }
    .backtop-arrow {
        width: 1.9375rem;
        transform: rotate(180deg);
    }
}
  
.footer 
{
    background-image: url('../imgs/backgrounds/back-footer.png');
    background-size: cover ; 
    padding-top: 3.0625rem;
    .logo-container .main-logo {
        width: 238px;
    }
    .menu-container {
        display: grid; 
        justify-content: center;
    }
    .social-menu {
        justify-content: end;
        display: flex;
        padding-top: 4.6875rem;
        ul {
            li {
                margin-right: 1.25rem;
                margin-left : 0px ;
            }
        }
    }

    .main-menu {

        border-bottom: #9b8159 1px solid; 
        display: inline-block; 
        padding-bottom: 1.25rem;
        margin-top: 4.6875rem;

        li {
            color : white ;
        }
    }
}

.main-nav 
{ 
    width: 100%;
    height : 130px;  
    >{
        div {
            height: 100%;
        }
    }
}

.header 
{ 
    min-height: 99vh;
    background-size: cover; 

}

.rebric-theme {
    height: 1vh;
    width: 100%;
    background-color: #a3d89f;
}

.main-menu {
    padding: 0;  
    text-align:center;
    margin-top: 89px;
    li {
        display: inline;
        list-style-type: none;
        margin-left:  22.5px;
        margin-right: 22.5px;
        color: #083d72;
        font-family: FiraSans-Regular;
    }
} 

.rubric {
    h4 {
        font-family: FiraSans-Bold ;
        font-size: 1.375rem;
    } 
    p{
        font-family: FiraSans-Light;
        font-size: 1rem;
    }
    border-left: 3px #a3d89f solid;
    padding-left: 0.6875rem;
}

.logo-container {

    .main-logo {
        max-width: 241px;
        margin-top: 2.0625rem;
        margin-left: 2.0625rem;
    }
}

.social-menu {
    display: flex;
    justify-content: end;
    padding-top: 4.75rem;
    ul {
        padding :0;
    }
    li {
        display: inline;
        list-style-type: none;
        margin-left: 7px;
        margin-right: 7px;
        
    }
}

.page-header {
    margin-top : 5%; 
    .header-title{
        h1 {
            font-family: FiraSans-Bold ;
            color: #083d72;
        }
        p {
            font-size: 1.375rem;
            color: #1f2b33;
            margin-top : 1.3125rem;
            font-family: FiraSans-Light;
            line-height: 1.2;
            strong {
                font-family: FiraSans-SemiBold ;
                font-weight: normal;
            }
        }
        .author {
            font-family: FiraSans-Regular;
            font-size: 1.375rem;
            color: #9b8159;
        }
        .date {
            font-family: FiraSans-Light;
            font-size: 1.375rem;
            color: #9b8159;
            margin-top: 0;
        }
    }
}
 
.intro {
    margin-left: 4.333%; 
    p {
        font-family:  FiraSans-Regular; 
        line-height: 1.8;
        transform: translateY(-0.6875rem);
    }
}

.intro-section  {
    padding-top: 5.125rem;
}
 
.related-post {
    padding-top : 3.75rem ;
    padding-bottom: 3.75rem; 
    h5 {
        font-family: FiraSans-Bold ;
        font-size: 1.4375rem;
        color : #353738 ; 
    }
}

.see-more-1 {
    font-size: 1rem !important;
    line-height: 1.63 !important;
    color: #9b8159 !important;
    text-align: right;
}

.see-more-2{
    display: flex;

    justify-content: center;
    img {
        width: 38px;
        height: 37px;
    }
    span {
        font-family: FiraSans-Regular;
        font-size: 14px;
        color : #9b8159;
        padding-top: 7px;
        margin-right: 15px;
    }
}

.go-down {
    width: 62px;
    height: 61px;
}

.section-name{
  padding-top: 100px;
}

.underline {
    display: block;
    border-bottom: 1px #353738 solid;
    padding-bottom: 8px;
}

.p-white {
    p{
        color: white !important;
    }
}

.not-full-screen {
    min-height: unset !important;
}