.rebrics-container {
  display: flex;
  justify-content: center;
  .rebric-card {
    width: 213px;
    height: 190px;
    text-align: center !important;
    // A re-vérifier les codes couleurs
    border-top:  1px #bfbfbf solid;
    border-left:  1px #bfbfbf solid;
    border-right:  1px #bfbfbf solid;
    border-bottom:  10px #1b2762 solid;
    margin-left: 20px;
    margin-right: 20px;

    padding-top: 31px;
    h5 {
      font-size: 1.125rem ;
      font-family: FiraSans-SemiBold ;
      color: #083d72;
      margin-top: 28px;
      margin-bottom: 11px;
    }
    p {
      font-size: 0.875rem;
      line-height: 1.2;
    }
    .rebric-icon {
      height: 40px;
    }
  }
}


.securite-border {
  border-bottom:  10px #ffd573 solid !important;
}

.justice-border {
  border-bottom:  10px #96eaea solid !important;
}

.education-border {
  border-bottom:  10px #a3d99f solid !important;
}

.finance-border {
  border-bottom:  10px #6caee2 solid !important;
}

.decentralisation-border {
  border-bottom:  10px #fff0b9 solid !important;
}

.emploi-border {
  border-bottom:  10px #c195f4 solid !important;
}

.culture-border {
  border-bottom:  10px #cbf0c5 solid !important;
}

.sante-border {
  border-bottom:  10px #feceba solid !important;
}

.famille-border {
  border-bottom:  10px #ffb88c solid !important;
}

.home-main-menu {
  @extend .main-menu ;
  li {
    color: #ffffff;
  }
}
.home-header {
  @extend .page-header;
  .header-title {
    p {
      font-size: 1.25rem;
    }
  }
}

.policy-brief-section {

  margin-top: 81px;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #f9f9f9;

  .onerow-policy {
    @extend .row;
    @extend .mx-0;
    @extend .px-0;
    display: flex;
    justify-content: space-between;
  }

  .policy-brief-card-big {
    background-color: white;
    background-image: url("../imgs/backgrounds/back-card-01.jpg");
    background-position-y: -25px !important;
    background-repeat: no-repeat;
    background-position: center right;
    padding-top: 38px;
    padding-left: 35px;
    padding-bottom: 35px;

    .rubric {
      p {
        font-size: 18px;
      }
    }

    p{
      line-height: 1.2;
      font-size: 22px;
    }
    .title-2 {
      margin-top: 36px;
      margin-bottom: 23px;
    }
    .author {
      font-family: FiraSans-Regular;
      font-size: 18px;
      color: #9b8159;
    }
    span {
      font-family: FiraSans-Light ;
      font-size:  18px;
      margin : 1.0625rem 1.0625rem 0 0;
    }

  }

  .policy-brief-card-m {

    background-position: unset;
    @extend .policy-brief-card-big;
    .title-2 {
      margin-top: 35px;
      margin-bottom: 20px;
    }

    display: inline-block;
    margin-top: 43px;
    padding-top: 31px;
    height: 318px;
    width: 47%;
  }

  .policy-brief-card-s {
    background-image: unset;
    @extend .policy-brief-card-m;
    width: 31%;
  }
}


.contact-section {
  .row{
    justify-content: space-between;
  }
  img {

    height: 28px;
  }
  p{
    margin-top: 33px;
    font-size: 18px;
  }
}