.search-filters-tags {

  .thematiques {
    margin-bottom: 44px;
    span {
      font-size: 14px;
      font-family: FiraSans-Regular;
      color: #083d72;
      border: 1px #9b8159 solid;
      padding: 10px 20px 8px 20px;
      margin-right: 40px;

    }
    span.active{
      color : #fff ;
      background-color: #9b8159 ;
    }

  }

  .active-thematiques {
    span {
      font-family: FiraSans-Regular;
      color: #083d72;
      font-size: 18px;
      &::before{
        content:"";
        background-image: url("../imgs/icons/cancel.svg");
        width: 13px;
        height: 13px;
        margin-right: 8px;
        display: inline-block;
      }
    }


  }
}

.rubric-logo {
  height: 39px;
}
.rubric-title {
  border-left: 3px #8adfe2 solid;
  padding-left: 30px;
}