.search-section {
  margin-top: 100px;
  p{
    font-family: FiraSans-Regular;
    font-size: 20px;
    color: #083d72;
  }

  .search-form {
    input {
      background-color: transparent;
      border: 0;
      border-bottom: 1px #9b8159 solid;
      padding-bottom: 12px;
      padding-left: 35px;
      width: 100%;
      margin-top: 12px;
      &::placeholder{
        color : #9b8159 ;
        opacity: 1;
        font-family: FiraSans-LightItalic;
        font-size: 1rem;
      }
    }
  }

  .search-btn{
    background-color: transparent;
    border : 1px #9b8159 solid;
    padding: 10px 43px 16px 37px;

    font-family: FiraSans-Regular;
    font-size: 20px;
    color: #9b8159 ;
    width: 160px;
    height: 51px;
  }
}

.search-filters {
  margin-bottom: 3rem;
  border-bottom: 1px #9b8159 solid;
  display: inline-block;
  padding-right: 25px;

  p , select{
    font-size: 18px;
    font-family: FiraSans-Regular ;
    color: #083d72;
    display: inline-block;
  }
  p {
    font-family: FiraSans-SemiBold;
  }
  select {
    padding-right: 20px;
    margin-left: 40px;
    background-size: 13px;
    background-color: transparent;
    border: 0;
    -webkit-appearance: none;
    -moz-appearance: none;

    background-image: url("../imgs/icons/fleche-filtre.svg");
    background-repeat: no-repeat;
    background-position: right;

    width: auto;

  }
  .separator {
    width: 1px;
    height: 32px;
    display: inline-block;
    background-color: #9b8159;
    transform: translateY(9px);
    margin-left: 40px;
  }
}

.search-screen {
  height: 100vh;
  width: 100%;
  background-image: url("../imgs/backgrounds/back-gris.png");
  position: absolute;
  top: 0;

  .cancel-menu {
    height: 29px;
    position: absolute;
    top : 29px;
    right: 29px;
    cursor: pointer;
  }
  .form-container {
    padding-top: 150px;
  }
  .top-searchs {
    margin-top: 74px;
    p{
      font-family: FiraSans-SemiBold;
      font-size: 20px;
      color: #083d72 ;
    }

    .thematique-subsection {

      li {
        margin-left: 0;
        font-family: FiraSans-Regular;
        font-size: 20px;
        .separator {
          @extend .mx-3;
          transform: translateY(5px);
        }
      }

    }
  }

  opacity: 0;
  visibility: hidden;
  transition: all .4s ease-in-out;



}
.active {
  opacity: 1;
  visibility: visible;
  transition: all .4s ease-in-out;
}