.sharer-module {
    background-color: #f9f9f9;
    padding: 3.8125rem 2rem 0px 1.0625rem;
    width : 177px;
    height : 235px ; 
    .download-btn {
        &::before{
            content: ""; 
            width: 1.5rem; 
            height: 1.5rem; 
            background-image: url("../imgs/icons/pdf.svg");
            display: inline-block; 
            margin-right: 9px;
        }
    } 
    &::before{
        content: ""; 
        width: 3.0625rem; 
        height: 3.0625rem; 
        background-image: url('../imgs/icons/partage.svg');
        position: absolute; 
        top: 0px;
        transform: translateX(-1.0625rem);
    }
    h6 {
        font-family: FiraSans-Light ; 
        font-size : 1.125rem ;
        display: inline-block; 
        border-bottom: 1px solid #353738; 
        padding-bottom: 9px;
        display: block;
    }
    .socials-logos {
        ul {
            display: flex;
            justify-content: space-between; 
            list-style: none;
            padding: 0px;
            padding-top: 5px;
           li {
            float: left;
            
           }
        }

        .social-icon {
            width: 1.5625rem;
            height: 1.25rem;
        }
   
    }
  
}

.ref-juridique {
    background-color: #f9f9f9;
    padding: 3.5rem 0.625rem 1.25rem 9px;
    width: 177px;
    &::before{
        content: ""; 
        width: 3.0625rem; 
        height: 3.0625rem; 
        background-image: url('../imgs/icons/weight-balance.svg');
        position: absolute; 
        top: 0px;
        transform: translateX(-0.625rem);
    } 
    h6 {
        font-family: FiraSans-Light ; 
        font-size : 1.125rem ;
        display: inline-block; 
        border-bottom: 1px solid #353738; 
        padding-bottom: 5px;
    }
    .ref {
        padding-left: 0.75rem;
        margin-top: 1.0625rem;
        .ref-number {
            color: #9b8159;
            display: inline-block;
            width: 1em;
            margin-left: -1em;
            font-family: FiraSans-Light;
        }
        .ref-pipe {
            transform: translate(1px,4px);
            display: inline-flex;
            background-color: #9b8159;
            width: 1px;
            height: 14px;
        }
        p {
            color : #848484 ;
            font-size: 0.75rem;
            font-family: FiraSans-Light ;
            display: inline;
            line-height: 1.2;
            margin-bottom: 0;
        }
    }
    ul {
        padding-left: 0.75rem;
        margin-top: 1.0625rem;
        list-style: none; counter-reset: li;  
        li {
            counter-increment: li ;
            color : #848484 ;
            font-size: 0.75rem;
            font-family: FiraSans-Light ;
            margin-bottom: 0.9375rem;
        }
        li::before {
            content: counter(li)"|"; 
            color: #9b8159;
            display: inline-block; 
            width: 1em;
            margin-left: -1em;
            font-family: FiraSans-Light;
        } 
    } 
}

.related-posts-container {
    padding-top : 4.75rem;
}

.single-content-text { 
    h3 {
        font-family: FiraSans-Regular;
        font-size: 1.5625rem;
        margin-top : 4.375rem;
        margin-bottom: 1.5rem;
    }
    h2 {
        font-family: FiraSans-Bold;
        font-size: 2.1875rem;
        margin-bottom: 3rem;
    }
    p{
        margin-bottom: 2.125rem;
        line-height: 1.9;
    } 
    blockquote {
        p {
            color : #9b8159;
            font-size : 1.25rem ;
            font-family :FiraSans-SemiBoldItalic;
            border-top : #9b8159 solid 1px;
            border-bottom : #9b8159 solid 1px;
            padding-bottom: 2.625rem;
            padding-top : 2.625rem;
            display: flex;
            padding-left: 5rem;
            padding-right: 5rem;
            margin-top : 4.375rem;
            margin-bottom: 4.375rem;
            &::before {
                content: "";
                width: 109px;
                background-image: url("../imgs/icons/quote.svg");
                background-size: contain;
                display: inline-flex;
                background-repeat: no-repeat;
                margin-right: 1.75rem;
                transform: translateY(-1.5rem);
            }
        }
    }
    .image-container-2 {
        display: flex;
        justify-content: center;
        .image-container {
            text-align: center;
            border : #083d72 solid 1px ;
            margin-bottom: 2.0625rem;
             float: left ;
            img {
                transform: translate(2.0625rem,2.0625rem);
            }
        }
    }
    figcaption{
        margin-top:0;
        font-size: 1rem ;
        color :#083d72;
        font-family: FiraSans-Light;
        text-align: right;
        transform: translateX(-6.25rem);
    }

}

.tags-container { 
    display: flex;
    justify-content: center;
    margin-top : 100px;

    &::before { 
        content: ""; 
        background-image: url("../imgs/icons/tags-left.svg"); 
        height: 2.1875rem; 
        width: 3.75rem;
        transform: translate(1.4375rem, -1.5rem);
    }
    &::after { 
        content: ""; 
        background-image: url("../imgs/icons/tags-right.svg"); 
        height: 2.1875rem; 
        width: 3.75rem;
        transform: translate(-2.5rem, 3.25rem);
    } 
    .tags {
    
        h6 {
            font-family: FiraSans-Bold ;
            color: #083d72;
            font-size: 1.375rem;
        }
        span {
            font-family: FiraSans-Light ;
            font-size: 1.25rem;
            margin : 1.0625rem 1.25rem 0 0;
        }
    } 
}

.ref-biblio-container {
   
    display: flex; 
    justify-content: center;


    .ref-biblio { 
        background-color : #f9f9f9;
        padding-top:35px ; 
        width: 85%;
        &::before{
            content: ""; 
            width: 3.0625rem; 
            height: 3.0625rem; 
            background-image: url('../imgs/icons/book.svg');
            position: absolute; 
            top: 0px;
            transform: translateY(49px);
        }
 
        h6 {
            font-family: FiraSans-Light ; 
            font-size : 1.125rem ;
            display: inline-block; 
            border-bottom: 1px solid #353738; 
            padding-bottom: 5px;
        }
        ul {
            padding-left: 0.75rem;
            margin-top: 1.0625rem;
            list-style: none; counter-reset: li;  
            li {
                counter-increment: li ;
                color : #848484 ;
                font-size: 0.75rem;
                font-family: FiraSans-Light ; 
                margin-bottom: 0.9375rem;
            }
            li::before {
                content: counter(li)"|"; 
                color: #9b8159;
                display: inline-block; 
                width: 1em;
                margin-left: -1em;
                font-family: FiraSans-Light;
            }
            
        }
           
    }
}

.block-references {
    display: none;
}