.thematique-subsection {
  p {
    font-family: FiraSans-Regular;
    font-size: 1rem;
    color : #083d72 ;
    display: inline-block;
    margin-bottom: 10px;
  }

  .rubric-icon{
    &::before {
      content : "";
      height: 12px;
      background-image: url("../imgs/icons/rubriques/justice.svg");
      display: inline-flex;
      width: 12px;
      margin-left: 5px;
      margin-right: 2px;
    }
  }
  ul {
    list-style: none;
    display: inline-flex;
    padding: 0;
    li{
      float: left;
      margin-left: 15px;

    }
    .separator{
      background-color: #9b8159;
      width: 1px;
      height: 21px;
      display: block;
    }
  }

  span , li {
    font-family: FiraSans-Light;
    font-size: 14px;
    color : #083d72 ;
  }
}


.experts-section  {
  border-top: 8px #9b8159 solid;
  padding-top: 60px;
  padding-bottom: 25px;
  background-color: #083d72;
  margin-top: 65px;

    .underline {
      border-color: #9b8159;
    }

  .author-info {
    p {
      line-height: 1.3;
    }
    h6 {
      margin-bottom: 0.8rem;
    }
    h5{
      margin-bottom: 0;
    }
  }

}